@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap' );

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
    font-family: 'Tajawal', sans-serif;
  }

  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at 30% 10%, #c3dafe 0%, transparent 35%),
                radial-gradient(circle at 80% 90%, #fec3d7 0%, transparent 40%);
    opacity: 0.4;
    z-index: -1;
    animation: subtle-gradient-move 20s infinite alternate;
  }

  @keyframes subtle-gradient-move {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(40px, -40px);
    }
  }
}
